html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #322214;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Gentium Book Plus', serif;
  margin: 0;
  color: #f5dfbb;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}


nav {
  height: 60px;
  position: sticky;
  background-color: #839788;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

nav > a {
  color: #eee0cb;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  text-shadow: 1px 1px 1px black;
}

nav > a:hover {
  color: #322214;
}

button{
  background-color: #839788;
  color: #eee0cb;
  border-radius: 2px;
  border: none;
  text-shadow: 1px 1px 1px black;
  margin-left: 10px;
} 

button:hover{
  background-color: #eee0cb;
  color: #322214;
  text-shadow: none;
} 

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
  font-family: 'Gentium Book Plus', serif;
  margin-top: -35px;
}

#index {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

p {
  color: #839788;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #839788;
  font-weight: bolder;
}

a:hover{
  color: #eee0cb;
  text-shadow: none;
}

li {
  font-size: 20px;
}

.add-book{
  font-size: 20px;
}

#movie {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

#add-review-form > textarea {
  width: 250px;
}

#add-review-form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
}

#content-textarea {
  height: 30px;
  font-size: 20px;
}

#rating-select {
  width: 250px;
}

.list-group-flush {
  margin: auto;
  border: 3.5px solid #839788;
}

.list-group-item{
  background-color: #eee0cb;
  color: #322214;
}

.list-group-item > a {
  /* text-shadow: .4px .4px .4px black; */
  font-size: 22px;
}

.list-group-item > a:hover {
  color: #322214;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 4px solid #839788;
  font-family: 'Sarabun', sans-serif;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

.show {
  margin-left: 113px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#book-name {
  text-shadow: 2px 2px 2px black;
}

#edit {
  margin-top: -150px;
}

@media only screen and (max-width:360px) {
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100vw;
    gap: 15px;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    flex-wrap: nowrap;
    height: 70px;
    z-index: 1;
    grid-area: nav;
  }
  nav > a {
    font-size: 18px;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
  }
}