html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #322214;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Gentium Book Plus', serif;
  margin: 0;
  color: #f5dfbb;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav {
  height: 60px;
  position: sticky;
  background-color: #839788;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

nav > a {
  color: #eee0cb;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  text-shadow: 1px 1px 1px black
}

nav > a:hover {
  color: #3a015c;
}

button{
  background-color: #839788;
  color: #eee0cb;
  border-radius: 2px;
  border: none;
  text-shadow: 1px 1px 1px black
} 

button:hover{
  background-color: #eee0cb;
  color: #322214;
  text-shadow: none;
} 

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  font-family: 'Gentium Book Plus', serif;
}

#index {
  margin-bottom: 100px;
}

h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #83b5d1;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #839788;
}

a:hover{
  color: #eee0cb;
}

li {
  font-size: 20px;
}

.add-book{
  font-size: 20px;
}

#movie {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

#add-review-form > textarea {
  width: 250px;
}

#add-review-form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
}

#content-textarea {
  height: 30px;
}

#rating-select {
  width: 250px;
}


.list-group-flush {
  margin: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 3px solid #83b5d1;
  font-family: 'Sarabun', sans-serif;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}